@model Category

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            Content
        </div>
        <div class="panel-body">
            <form role="form" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" asp-for="CategoryName">
                </div>
                <a href=""><button type="button" class="btn btn-info">Add</button></a>
            </form>
        </div>
    </div>
</div>