@model AppUser
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-md-4">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i>Delete Account
        </div>
        <br />
        <div class="panel-body">
            <div class="list-group">

                <form method="post">
                    
                    <div class="form-group">
                        <label>User</label>
                        <input class="form-control" asp-for="UserName" type="text" readonly>
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="Id" type="hidden" readonly>
                    </div>
                    <h6>Account will be deleted permanently.</h6>
                    <br />
                    <button class="btn btn-danger">Approve</button>
                </form>
            </div>
            <!-- /.list-group -->

        </div>

    </div>
</div>
