@model AppUser


@{
    ViewData["Title"] = "Home Page";
}

<form method="post" align="center">
    <br />
    <br />
    <h1>Sign In</h1>

    <div class="form-group" align="center">
        <input type="text" asp-for="UserName" id="exampleInputEmail1" style="width:230px" class="form-control" aria-describedby="emailHelp" placeholder="Username" required="">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group" align="center">
        <input type="password" asp-for="PasswordHash" style="width:230px" class="form-control" id="exampleInputPassword1" placeholder="Password" required="">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label><br />
        <label class="form-check-label" for="">
            <a href="/Register/SignUp/">Don't have an account?</a>
        </label>
    </div>
    <button type="submit" class="btn btn-success btn-round">Sign in</button>
</form>
